# Віртуальне середовище
.venv/

# Тимчасові файли Python
*.pyc
__pycache__/

# Логи та тимчасові файли
*.log
*.pid

# Резервні копії бази даних
*.sql

# Конфігураційні файли з паролями
.env

# Статичні файли, зібрані Django
staticfiles/

# Налаштування IDE
.idea/

zemres/settings.py
